.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 24px;
  background-color: #1f2937;
  color: white;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  color: white;
}
a {
  text-decoration: none;
}
